@charset "UTF-8";

body {
    background-color: rgb(156, 236, 219);
    font-family: Arial, Helvetica, sans-serif;
}

h1#principal{
    background-color: rgb(0, 117, 102);
    color: rgb(255, 255, 255);
    text-align: center;
}

h1#HTML {
    color: blue;
}

h1#CSS {
    color: rgb(204, 133, 0);
}

.HTML {
    color: rgb(0, 110, 255);
}

.CSS {
    color: rgb(207, 159, 0);
    font-weight: lighter;
}

.marca-texto {
    color: red;
    background-color: yellow;
}